
      <div id="footer" class="">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="widget">
                          <h4 class="widget-title">Thông tin liên hệ</h4>
                                  <ul class="">
                                      <li><span><i class="fa fa-credit-card"></i>101 Mai Xuân Thưởng, Vĩnh Hòa, Nha Trang</span></li>
                                      <li><span><i class="fa fa-mobile-phone"></i>+84 905 637 399</span></li>
                                      <li><span><i class="fa fa-envelope"></i><a href="https://mail.google.com" title="Email Address">ngocnam071094@gmail.com</a></span></li>
                                      <li><span><i class="fa fa-globe"></i><a href="https://www.linkedin.com/in/tr%E1%BA%A7n-ng%E1%BB%8Dc-nam-497662119/" title="Website URL (with HTTP)" target="_blank">https://www.linkedin.com/tranngocnam</a></span></li>
                                  </ul>


                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="widget">
                          <h4 class="widget-title">Menu</h4>
                          <div>
                              <ul>
                                  <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Trang Chủ</a></li>
                                  <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Sản Phẩm</a></li>
                                  <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Giới Thiệu</a></li>
                                  <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Liên Hệ</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="widget">
                          <h4 class="widget-title">Fanpage</h4>
                          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTiemBanhKemNhaTrang%2F&tabs&width=340&height=400&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                      </div>
                  </div>
              </div> <!-- .row -->
          </div> <!-- .container -->
      </div> <!-- #footer -->
      <div class="copyright">
          <div class="container">
              <p class="pull-left"> (&copy;) 2014</p>
              <p class="pull-right pay-options">
                  <a href="#"><img src="dest/images/pay/master.jpg" alt="" /></a>
                  <a href="#"><img src="dest/images/pay/pay.jpg" alt="" /></a>
                  <a href="#"><img src="dest/images/pay/visa.jpg" alt="" /></a>
                  <a href="#"><img src="dest/images/pay/paypal.jpg" alt="" /></a>
              </p>
              <div class="clearfix"></div>
          </div> <!-- .container -->
      </div> <!-- .copyright -->
      <!--<nav class="footer_nav">-->
          <!--<a [routerLink] = "['/']">HOME</a>-->
          <!--<a [routerLink] = "['/tours']">TOURS</a>-->
          <!--<a [routerLink] = "['/page/about']">ABOUT</a>-->
          <!--<a [routerLink] = "['/page/contact']">CONTACT</a>-->
          <!--<a [routerLink] = "['/page/tour-information']">TOUR INFORMATION</a>-->
          <!--<a [routerLink] = "['/page/licensing-legal']">LICENSING &amp; LEGAL</a>-->
          <!--<a [routerLink] = "['/page/booking-charges']">BOOKING &amp; CHARGES</a>-->
        <!--</nav>-->
        <!--<div class="tripadvisor">-->
            <!--<a href=""><img src="images/tripadvisor.png" alt=""></a>-->
            <!--<div class="social">-->
                <!--<a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
                <!--<a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
            <!--</div>-->
        <!--</div>-->
