<div class="title">
    1. Information Tour Booking
</div>

<table class="mat-table text-center">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell check"> Image </th>
        <th class="mat-header-cell"> Name Tour </th>
        <th class="mat-header-cell"> Dates </th>
        <th class="mat-header-cell"> Quantity </th>
        <th class="mat-header-cell check"> Price (1 Adult) </th>
        <th class="mat-header-cell check"> Payment Type </th>
        <th class="mat-header-cell check"> Code Promotion (%) </th>
        <th class="mat-header-cell"> Total (USD) </th>
      </tr>
      </thead>
    <tbody>
      <tr class="mat-row">
        <td class="mat-cell check"> <img src="uploads/{{ dataTourBooking?.image}}"  onerror = "this.src = 'images/default/picture.jpg'" alt=""> </td>
        <td class="mat-cell"> {{ dataTourBooking?.name }} </td>
        <td class="mat-cell"> {{ dataTourBooking?.date }} </td>
        <td class="mat-cell"> {{ dataTourBooking?.rider }}</td>
        <td class="mat-cell check"> {{ dataTourBooking?.price }} </td>
        <td class="mat-cell check"> {{ dataTourBooking?.pay_type }} </td>
        <td class="mat-cell check"> {{ dataTourBooking?.promotion }} </td>
        <td class="mat-cell"> {{ dataTourBooking?.totalPrice | currency }} </td>
      </tr>
    </tbody>
  </table>
