@import '../../../../../sass/_variables.scss';
a {
    color: #bb0000;
    cursor: pointer;
    text-decoration: none;
}
h2 {
    margin-top: 1.1428em;
    margin-bottom: 0.5714em;
    font-size: 1.75em;
    font-weight: unset;
}
.a2a_kit{
    flex-wrap: wrap;
    line-height: 32px;
    justify-content: center;
    display: flex;
}
.a2a_kit a {
    margin-top: 0.5rem;
    cursor: pointer;
}