
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$content-back-ground: whiteSmoke;
$background-color: #7f0000;
$color-text: black;
$padding:1.5rem;

