@import '../../../../../sass/_variables.scss';
//.spinner {
//    position: fixed;
//    z-index: 9999;
//    top: 0;
//    right: 0;
//    left: 0;
//    bottom: 0;
//    background-color: #00000061;
//    /* opacity: 0.5; */
//}
//.reload{
//    top: 45%;
//    margin: auto;
//}
.spinner {
    background: rgba(0, 0, 0, 0.57);
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #920000;
    border-bottom: 3px solid #920000;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}