<app-reloadpage [hidden] = "checkMessage"></app-reloadpage>
<div #elementDescription [hidden]="true"></div>

<!-- End tour-header -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h3 class="title">{{ detailTour?.item.title }}</h3>
        <!-- PRICE -->
        <div class="tour-content-detail">
          <ul class="unstyled">
            <!--<li><b>From USD</b></li>-->
            <li><h4>${{ detailTour?.price_normal|number:'1.0-3' }} USD per person</h4>
            <li>
              <strong>Duration:</strong> {{ detailTour?.duration }} Days
            </li>
            <li>
              <strong>Location</strong>: Nha Trang, Vietnam
            </li>
           </ul>
          <!--<div class="description-tour">-->
            <!--<p #dataContainer></p>-->
          <!--</div>-->
        </div>
        <!-- END PRICE -->
    </div>

    <!-- BOOKING-FORM -->
    <div class="col-md-4">
      <!-- TOUR-BOOKING-FORM -->
      <div class="tour-booking-form">
        <h3>Booking</h3>
        <form [formGroup] = "frmBooking" (ngSubmit)="onSubmitBooking()">
          <div class="form-group">
            <mat-form-field>
              <mat-select id="numberRider" [(value)]="riders" (change)="getQuantityRider($event)">
                  <mat-option *ngFor = "let number of numbers;" value="{{number}}" >{{number}} person</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field *ngIf = "!type_tour" class="datecheck">
              <mat-select [(ngModel)]="dates" name="dates" placeholder = "Tour start date" id="dates" name="dates" formControlName="dates">
                  <mat-option value="{{ date.date }} - {{ date.month}}" *ngFor = " let date of detailTour?.dates ">{{ date.date }} - {{ date.month }}</mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf = "type_tour" class="datecheck">
            <input matInput [(ngModel)]="dates" type="date" placeholder="Tour start date" formControlName="dates" required>
          </mat-form-field>

          <mat-form-field style=" width: 60%;"  [hidden] = "checkClick">
              <input  matInput placeholder="Promotion Code " [(ngModel)]="codePromotion"  formControlName="code" >
          </mat-form-field>

          <button class="btncheck" [hidden] = "checkClick" (click)="changeTotalPrice()"  mat-raised-button color="warn">CHECK</button>
          <div class="d-flex justify-content-center align-items-center container ">
            <div class="row ">
              {{message}}
              <label class="otherCode" style="float: right; color: red" [hidden] = "!checkClick" (click)="showFormCode()"> . Enter other code</label>
            </div>
          </div>

          <mat-radio-group formControlName = "pay_type" style="margin: 1rem 0;display: block" #event (change) = "onChange()">
            <mat-radio-button [value] = "0" [checked] =" true"> Pay Deposit (80 %)  </mat-radio-button>
            <mat-radio-button [value] = "1"> Full Amount Now </mat-radio-button>
          </mat-radio-group>

          <div class="total form-group">
              <b>Total (USD) </b>
              <b  style="float: right; font-size: 20px;"> $ {{ totalPrice |number:'1.0-3' }} </b>

          </div>

          <div>
                <button style="width: 100%;margin-top: 1rem" (click)="getDataFormBooking()" [disabled] = "frmBooking.invalid"  mat-raised-button color="warn"  [routerLink] = "['/checkout']">BOOK NOW</button>
          </div>
        </form>
      </div>
      <!-- END TOUR-BOOKING-FORM -->
    </div>
  </div>
</div>





