<app-reloadpage [hidden] = "checkMessage"></app-reloadpage>
<div #elementDescription [hidden]="true"></div>
 <!-- TOUR_HERO -->
     <div class="tour_hero" [style.background-image]="'url(uploads/' + detailTour?.image + ')'" [style.background-color] = "'#bb0000'" >
        <!-- Tour-header -->
        <div class="container-fluid tour-header">
            {{ detailTour?.item.title}}
        </div>
        <!-- End tour-header -->
        <!-- Tour-information -->
        <div class="container tour-information">
            <div class="row columns justify-content-center">
                <div class="col-md-3 col-sm-6 col-xs-6 col-6 text-center">
                    <div class="icon">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                    </div>
                    <div class="tour_stats__stat">
                        {{detailTour?.duration}} Days
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-6 text-center">
                    <div class="icon">
                        <i class="fa fa-building" aria-hidden="true"></i>
                    </div>
                    <div class="tour_stats__stat">
                        {{detailTour?.cities}} Cities
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-6 text-center">
                    <div class="icon">
                        <i class="fa fa-motorcycle" aria-hidden="true"></i>
                    </div>
                    <div class="tour_stats__stat">
                        {{detailTour?.distance}} Km
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-6 text-center">
                    <div class="icon">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                    </div>
                    <div class="tour_stats__stat">
                        ${{detailTour?.price_normal|number:'1.0-3'}}
                    </div>
                </div>
            </div>
        </div>
        <!-- End tour-information -->
    </div>
    <!-- END TOUR_HERO -->

    <!-- TOUR-DATES -->
    <div class="container-fluid tour-dates">
        <div class="row">
            <div class="col-md-2 calendar__month text-center"  *ngFor = "let month of arrMonth" [class.active]="getCheckDate(month) !== '--'"> 
                <span class="month">{{month}}</span>
                <div class="date">{{ getCheckDate(month) }}
                </div>
            </div>
        </div>
    </div>
    <!-- END TOUR-DATES -->

    <!-- BOOKING-BAR -->
    <div class="booking-bar text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <h2>booking a tour</h2>
                </div>
            </div>
            <div >
                <p>We use a safe and secure payment gateway, recognised worldwide.</p>
                <p>15% Deposit on booking confirmation. 85% of Balance due thirty (30) days prior to Tour date. Full Tour cost payable for bookings made within Thirty (30) days of Tour date.</p>
            </div>
            <div class="row justify-content-center">
                <a routerLink="/page/contact" class="btn-contact">Contact Us</a>
                <a routerLink="/tours/{{detailTour?.id}}/booking/{{detailTour?.item.slug}}" class="btn-book">BOOK TOUR</a>
            </div>
           
        </div>
       
    </div>
    <!-- END BOOKING-BAR -->

    <!-- TOUR-GALLERY -->
    <div class="container-fluid tour-gallery">
        <div class="row">
            <div class="col-4 col-md-2 tour_image" *ngFor = "let image of detailTour?.images">
                <a href="{{ image }}" data-toggle="lightbox" data-gallery="example-gallery">
                    <img src="{{ image }}" onerror = "this.src = 'images/default/picture.jpg'" class="img-fluid">
                </a>
            </div> 
        </div>    
    </div>
    <!-- END TOUR GALLERY -->

    <!-- TOUR-CONTENT -->
    <div class="container tour-content">
        <h3 class="title">Pre-tour day</h3>
        <p #dataContainer></p>
    </div>
    <!-- END TOUR-CONTENT -->

    <!-- Useful Links -->

    <div class="container social">
        <app-social></app-social>
    </div>
    <!-- END Useful Links -->
