<div class="about">
<h1>Thông tin liên hệ</h1>

Địa chỉ        : 95 Ngô Đức Kế, Vĩnh Hòa, Nha Trang<br>
Số điện thoại  :+84 905 637 399<br>
Gmail          : ngocnam071094@gmail.com<br>
Linkedin       :https://www.linkedin.com/tranngocnam
</div>
<div class="map" style=" display: flex;justify-content: center; padding-bottom: 2rem;padding-top: 2rem">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.155727953794!2d109.18581321454766!3d12.237733033866988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d8787fc06ab%3A0x6ad7fbaafbf4f0de!2zOTUgTmfDtCDEkOG7qWMgS-G6vywgVGjDoG5oIHBo4buRIE5oYSBUcmFuZywgS2jDoW5oIEjDsmEgNjUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2sus!4v1524213001248" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>